* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list,
.country-info {
  list-style: none;
}

.country-info {
  padding-left: 40px;
}

.country-list {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.country-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
